version: '3.8'

services:
  api:
    build: .
    container_name: rag-api
    ports:
      - "8000:8000"
    environment:
      DB_USER: "postgres"
      DB_PASSWORD: "Sellart@2026"
      DB_HOST: "89.116.38.238"
      DB_PORT: 5433
      DB_NAME: "sellart"
      OPENAI_API_KEY: "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"
      GEMINI_API_KEY:
      QDRANT_HOST: "localhost"
      QDRANT_PORT: 6333
      COLLECTION_NAME: "sellart_artworks"
      EMBEDDING_MODEL: "text-embedding-3-small"
      LLM_MODEL: "gpt-4o-2024-08-06"
      EMBEDDING_DIMENSION: "1536"
      INDEX_ON_STARTUP: "true"
    networks:
      - rag-network
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app
          ignore:
            - __pycache__/
            - "*.pyc"
            - "*.pyo"
            - .pytest_cache/

volumes:
  postgres_data:

networks:
  rag-network:
    driver: bridge
