version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DB_USER: "${DB_USER}"
        DB_PASSWORD: "${DB_PASSWORD}"
        DB_HOST: "${DB_HOST}"
        DB_PORT: "${DB_PORT}"
        DB_NAME: "${DB_NAME}"
        OPENAI_API_KEY: "${OPENAI_API_KEY}"
        GEMINI_API_KEY: "${GEMINI_API_KEY}"
        QDRANT_HOST: "${QDRANT_HOST}"
        QDRANT_PORT: "${QDRANT_PORT}"
        COLLECTION_NAME: "${COLLECTION_NAME}"
        EMBEDDING_MODEL: "${EMBEDDING_MODEL}"
        LLM_MODEL: "${LLM_MODEL}"
        EMBEDDING_DIMENSION: "${EMBEDDING_DIMENSION}"
        INDEX_ON_STARTUP: "${INDEX_ON_STARTUP}"
        GOOGLE_GENAI_API_KEY: "${GOOGLE_GENAI_API_KEY}"
        
    env_file:
      - .env
    container_name: rag-api
    ports:
      - "8000:8000"
    networks:
      - rag-network
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app
          ignore:
            - __pycache__/
            - "*.pyc"
            - "*.pyo"
            - .pytest_cache/

volumes:
  postgres_data:

networks:
  rag-network:
    driver: bridge
